.featureHalber {
  isplay: flex;
  align-items: center;
  width: 100%;

  .k {
    display: flex;
    align-items: center;
    width: 100%;


    .p1 {
      font-family: Quicksand;
      font-weight: bold;
      font-size: 9px;
      margin-left: auto;



    }

    .p2 {
      font-family: Quicksand;
      font-weight: bold;
      font-size: 9px;
      margin-left: auto;

      .hall {
        color: #35A7FF;

      }


    }
  }


}
